configuration {
    modi: "drun,ssh";
    terminal: "ghostty";
    ssh-client: "ssh";
    drun-use-desktop-entries: true;
    show-icons: true;
    icon-theme: "Papirus";
    display-drun: "Applications";
    display-ssh: "SSH";
    sidebar-mode: true;
}